body,
html {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col-1 {
    flex: 100%;
}

.col-2 {
    flex: 50%;
}

.col-3 {
    flex: 33%;
}

.col-3-span-2 {
    flex: 66%;
}

.col-4 {
    flex: 25%;
}

.col-4-span-2 {
    flex: 50%;
}

.col-4-span-3 {
    flex: 75%;
}

.sidebar {
    background-color: black;
    /* #cd684c;*/
}

.story {
    background-color: rgba(128, 128, 128, 0.212);
    /*#f6c280;*/
}

.fullheight {
    width: 100%;
    min-height: 100%-106px;
}

.timer {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: white;
}

.timercounter {
    font-size: 6em;
    text-align: center
}

.endimg {
    width: 500px;
}