body:not(.navbar, .active, .nav-link, footer) {
    margin-left: 15px;
}

.navbar-brand,
.navbar-brand:hover {
    color: blueviolet;
    font-family: 'Silkscreen';
}

.active {
    --bs-nav-pills-link-active-bg: blueviolet;
}

.nav-link {
    color: rgb(173, 86, 255);
}

.nav-link:hover:not(.active) {
    color: rgb(132, 0, 255);
    transition: color 1s;
}

footer {
    height: 50px;
}

.navbar:focus {
    color: white;
}

.container-fluid {
    justify-content: unset !important;
}