body:not(.row, .fullheight, #sidebar, .timer, #countdowntimerlabel) {
    margin: 0;
    font-family: 'Corbel';
}

*:not(body, .navbar, .navbar li, .navbar li a, html, .row, .fullheight, #sidebar, .timer) {
    margin-left: 10px;
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0);
}

.navbar li {
    display: inline;
    float: left;
}

.navbar a {
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    color: white;
    font-family: 'Corbel';
    border: none;
    text-align: center;
}

.navbar li a:not(.active):hover {
    background-color: rgba(132, 0, 255, 0.322);
}

.active {
    background-color: rgba(132, 0, 255, 0.582);
}

.navbar li a:focus {
    outline: none;
}

h1,
h2,
h3,
h4 {
    text-align: left;
    font-family: "Corbel";
}